@import 'variables';
@import 'bootstrap';
@import 'bootstrap/theme';
@import url(https://fonts.googleapis.com/css?family=Sansita+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


// Mixins


// Disable browser selection outlines
@mixin no-outlines() {
  outline-color: transparent;
  outline-style: none;
}

// Font mixins
@mixin sansita() {
  font-family: "Sansita One",cursive;
}

@mixin open-sans() {
  font-family: "Open-Sans", Helvetica, sans-serif;
}


// Color vars
$deep-purple: #742f4c;
$minty-green: #b1d6bd;
$baked-yellow: #eff1db;
$light-orange: #f7a374;
$deep-black: #0b0c0e;
$trans-black: rgba(11, 12, 14, .9);
$egg-shell: #9c9886;
$link-color: #337ab7;
$light-transparent-black: rgba(0, 0, 0, .1);
$light-grey: #555;

// Base styles
body {
  @include open-sans;
  background-color: $trans-black;
  color: $egg-shell;
}

h1,
h2,
h3,
h4,
h5,
h6 {@include sansita();}

h1 {color: $light-orange;}

h3 {color: $deep-purple;}

section,
article,
p {@include open-sans();}

i {color: $minty-green;}

a i {color: $link-color;}

// Backgrounds
.night-bg {
  background: url('../img/night.jpg');
  background-color: $deep-black;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid $minty-green;
  height: 500px;
  left: 0;
  max-width: 3000px;
  padding-top: 200px;
  position: absolute;
  text-align: center;
  top: -73px;
  width: 100%;
  z-index: 0;
}

// Navigation
.navbar-default,
.navbar-collapse {
  text-align: center;
}

.navbar-default,
.nav-exterior {
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;
  z-index: 1;

  .main-nav .nav-link {
    @include sansita();
    color: $light-orange;
    // margin:0 20px;
    text-shadow: none;
    vertical-align: middle;
  }

  .nav-link:hover,
  .nav-link:focus {
    @include no-outlines();
    background-color: $deep-purple;
    color: $light-orange;
  }
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0 auto;
}

.navbar .navbar-brand {
  display: none;
  text-shadow: none;
}


.navbar-default .navbar-toggle {
  border-color: $deep-purple;
  display: inline-block;
  float: none;
  margin: 10px auto;

  .icon-bar {background-color: $light-orange;}
}

.navbar-default .navbar-toggle:hover {background-color: $deep-purple;}


// Header styles
.name,
.title,
.additional {
  @include no-outlines();
}

.name {
  @include sansita();
  color: $minty-green;
  font-size: 54px;
}

.title {
  @include open-sans();
  color: $minty-green;
  font-size: 24px;
}

.additional {
  i {
    color: $egg-shell;
    font-size: 1.5em;
    padding: 10px;
  }
}

.row:nth-child(5) {
  padding-top: 420px; // blaaaaze it
}

// Generic styles
.hidden-all {
  display: none;
}

address,
time {
  color: $light-orange;
}

address {margin: 0;}
time {
  display: block;
  margin-bottom: 15px;
}

.table-exterior {
  margin-bottom: 20px;
  margin-top: 30px;
}

th,
tr {text-align: center;}

th {
  background-color: $deep-purple;
  border: 1px solid $deep-purple;
  color: $light-orange;
  font-style: italic;
  font-weight: bold;
}

.table-header {border-bottom: 1px solid $deep-purple; padding-top: 10px;}

.odd {
  border: 1px solid $deep-purple;
  padding: 5px;
}

.even {
  background-color: $light-transparent-black;
  border: 1px solid $deep-purple;
  padding: 5px;
}

.last-row {border-bottom: 1px solid $light-grey;}

.touch {
  border-top: 10px solid $minty-green;
  display: block;
  margin-top: 50px;
  padding-top: 30px;
  text-align: center;

  h1 {
    margin-bottom: 50px;
  }
}

.thanks {
  @include sansita();
  color: $light-orange;
}

.additional-second {
  font-size: 1.3em;
  margin-bottom: 30px;
}

.cta-message {
  margin-bottom: 30px;
}

.contact-form {
  left: 50%;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  transform: translateX(-50%);

  [type="text"],
  [type="email"] {
    background-color: $baked-yellow;
    border-radius: 0;
    color: $deep-black;
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 10px;
  }

  .messagebox {
    background-color: $baked-yellow;
    border-radius: 0;
    color: $deep-black;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .submit-form {
    background-color: $deep-purple;
    border-color: transparent;
    border-radius: 0;
    box-shadow: 0;
    clear: both;
    color: $minty-green;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    text-indent: 0;
  }
}


[name=_gotcha] {
  display: none;
}

// Media query overrides
@media (max-width: 767px) {
  .container-fluid > .navbar-collapse {
    margin: 0;
  }

  .navbar-collapse {
    background-color: $deep-black;
    border-color: $minty-green;
    float: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  th,
  tr {
    font-size: .9em;
  }
}
